
Nav {
  height: 150px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

}
.hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding: 25px;
}
.item {
  padding: 20px;
}
.links {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* align-items: center; */
  /* justify-content: space-evenly;   */
}
.home {
  grid-column: 1 / 2;
}
a {
  color: blue;
  padding: 2px;
}
.body {
  display: grid;
  grid-template-rows: 3fr, 1fr;
}
.title {
  font-size: 36px;
}
.title_words {
  padding: 10px;
  color: #06005a; 
  text-shadow: 1px 1px black;
}
li {
  list-style-image: url(/Users/devinjansa/Freelance/cestina/silvie-site/src/images/bullet.gif);
}
.body{
  /* margin-top: 180px; */
}

.format {
  display: grid;
  grid-template-columns: 1fr, 4fr;
  padding: 30px;
}
.icon {
  grid-column: 1 / 2;
  padding: 10px;
  text-align: center;
}
.text {
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr, 1fr;
}
.quote {
  grid-row: 1 / 2;
}
.student {
  grid-row: 2 / 3;
  text-align: right;
  margin-right: 50px;
}

.Routes {
  width: min(100% - 2rem);
  margin-inline: auto;
}

.drop {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 3%;
}

@media screen and (max-width: 2000px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .bg-image {
    display: none;  
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
  .nav-links {
    display: none; 
  }

  .format {
    grid-template-rows: 1fr, 4fr;
  }
  .icon {
    grid-row: 1 / 2;
  }
  .text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}
