
.Nav-upper {
  /* position: absolute; */
  text-align: center;
  justify-content: center;
  display: flex
}


.bg-image{
  background-repeat: no-repeat;
  height: 200px;
  width: auto;
}
.links {
  margin-top: 150px;
  text-align: center;
}
a {
  color: blue;
  padding: 2px;
}
.body {
  display: grid;
  grid-template-rows: 3fr, 1fr;
}
.left {
  grid-row: 2 / 3;
}
.right {
  grid-row: 1 / 2;
  text-align: center;
}
li {
  list-style-image: url(/Users/devinjansa/Freelance/cestina/silvie-site/src/images/bullet.gif);
}
.body{
  /* margin-top: 180px; */
}

.format {
  display: grid;
  grid-template-columns: 1fr, 4fr;
  padding: 30px;
}
.icon {
  grid-column: 1 / 2;
  padding: 10px;

}
.text {
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr, 1fr;
}
.quote {
  grid-row: 1 / 2;
}
.student {
  grid-row: 2 / 3;
  text-align: right;
  margin-right: 50px;
}

.Routes {
  margin: 100px;
}